@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 735px;
  background-image: url(img/header.jpg);
  background-position: center;
  background-position: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.header {
  height: 76px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.logo {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
}

.header__input {
  width: 288px;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  color: rgb(255, 255, 255);
  font: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.header__input::-moz-placeholder {
  color: rgb(255, 255, 255);
}

.header__input::placeholder {
  color: rgb(255, 255, 255);
}

.menu, .menu__mobile, .index__menu-cart {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.menu__link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
  background: none;
}

.top__content {
  display: flex;
  flex-direction: column;
}

.title {
  max-width: 786px;
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 64px;
  margin-bottom: 16px;
}
.title__cart {
  margin-top: 127px;
}

.top__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}

.link, .top__link {
  margin-top: 39px;
  margin-bottom: 64px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

.top__link {
  margin-top: 16px;
}

.for-box {
  padding-top: 0px;
}

.for {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}
.for__title {
  margin-top: 64px;
  margin-bottom: 32px;
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: 0%;
}
.for__item {
  height: 415px;
  grid-column: span 4;
  color: rgb(255, 255, 255);
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.for__item_big {
  grid-column: span 6;
}
.for__item_1 {
  background-image: url(img/item1.png);
}
.for__item_2 {
  background-image: url(img/item2.png);
}
.for__item_3 {
  background-image: url(img/item3.png);
}
.for__item_4 {
  background-image: url(img/item4.png);
}
.for__item_5 {
  background-image: url(img/item5.png);
}

.product-box {
  display: flex;
  flex-direction: column;
}
.product-box__title {
  margin-top: 64px;
  margin-bottom: 32px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: 0%;
  text-align: left;
}
.product-box__price {
  display: flex;
  gap: 32px;
}

.product-content {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 56px;
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  max-width: 378px;
  display: flex;
  flex-direction: column;
}
.product__img {
  background: url(shutterstock_1847267071), rgb(196, 196, 196);
}
.product__box-icon {
  position: relative;
}
.product__box-icon:hover + .product__icon-div {
  display: block;
  z-index: 10;
  display: flex;
  gap: 26px;
  align-items: center;
}
.product__icon-div {
  position: absolute;
  z-index: 10;
  display: flex;
  gap: 26px;
  align-items: center;
  margin-top: 12px;
  margin-left: 303px;
  display: none;
}
.product__h3 {
  padding-top: 10px;
  margin-bottom: 8px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.product__text {
  margin-bottom: 12px;
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.product__price {
  color: rgb(5, 5, 5);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.product__price-old {
  color: rgb(136, 136, 136);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
}

.link__product {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

.footer__item-box {
  display: flex;
  flex-direction: row;
  gap: 130px;
}

.footer {
  padding-top: 32px;
  padding-bottom: 64px;
  background: rgb(247, 246, 246);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
}
.footer__logo {
  color: rgb(0, 0, 0);
}
.footer__h4 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.footer__link {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__logo {
  color: rgb(0, 0, 0);
}
.footer__h4 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.footer__link {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.logo__footer {
  display: flex;
}

.item__icon {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form__p {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.form__input {
  width: 260px;
  height: 40px;
  font: inherit;
  padding-left: 17px;
  padding-right: 17px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 16px;
}

.form__input::-moz-placeholder {
  color: rgb(196, 196, 196);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.form__input::placeholder {
  color: rgb(196, 196, 196);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.form__button {
  width: 260px;
  height: 40px;
  font: inherit;
  padding-left: 85px;
  padding-right: 85px;
  border-radius: 16px;
  border: 1px solid rgb(196, 196, 196);
  background: rgba(222, 215, 215, 0.41);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.top__catalog {
  height: 400px;
  background-image: url(img/header_catalog.png);
  background-position: center;
  background-position: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.title__catalog {
  margin-top: 127px;
}

.filter {
  margin-top: 61px;
  margin-bottom: 36px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}
.filter__form-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.filter__link {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}
.filter__form {
  width: 182px;
  height: 40px;
  padding-left: 23px;
  padding-right: 36px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  font-family: Montserrat;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.filter__form-right {
  width: 227px;
  font-weight: 400;
}
.filter__option {
  font-family: Montserrat;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.select {
  position: relative;
  display: inline-block;
}

.select:after {
  content: url(img/Form_box.svg);
  padding: 0px 0px;
  font-size: 12px;
  position: absolute;
  right: 10%;
  top: 30%;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}

select {
  padding-right: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.form-box-pad {
  padding: 40px 48px 40px 48px;
  gap: 10;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 65px;
}

.form-box {
  position: absolute;
  right: 0.5px;
  top: 54px;
  z-index: 2;
  width: 541.5px;
  height: 548px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  background: rgb(255, 255, 255);
}
.form-box__title {
  margin-bottom: 16px;
  color: rgb(5, 5, 5);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.form-box .form__left {
  /*margin-bottom: 16px;*/
  display: flex;
  flex-direction: column;
  gap: 32px;
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
}
.form-box .form__left .form-box__delivery {
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
}
.form-box .form__left .form-box__delivery input[type=radio] {
  display: none;
}
.form-box .form__left .form-box__delivery input[type=radio] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
.form-box .form__left .form-box__delivery input[type=radio] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
}
.form-box .form__left .form-box__delivery input[type=radio]:checked + label:after {
  content: url(img/radio.svg);
  position: absolute;
  width: 6.5px;
  height: 6px;
  left: 4px;
  top: -1px;
  border: none;
}
.form-box .form__left .form-box__price {
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
  /* Специальные правила для браузеров на движках WebKit/Blink */
  /* Тоже самое для Firefox */
  /* Тоже самое для IE */
}
.form-box .form__left .form-box__price .form-box__label {
  margin-bottom: 18px;
}
.form-box .form__left .form-box__price .range-min {
  position: absolute;
  z-index: 1;
}
.form-box .form__left .form-box__price .range-max {
  position: absolute;
  z-index: 2;
}
.form-box .form__left .form-box__price input[type=range] {
  -webkit-appearance: none;
  /* Скрывает слайдер, чтобы можно было создать свой */
  width: 189px;
  /* Указание параметра ширины требуется для Firefox. */
}
.form-box .form__left .form-box__price input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.form-box .form__left .form-box__price input[type=range]:focus {
  outline: none;
  /* Убирает голубую границу у элемента. Хотя, возможно, и стоит создавать некоторое оформления для состояния фокуса в целях обеспечения доступности. */
}
.form-box .form__left .form-box__price input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  /* Скрывает слайдер, чтобы можно было добавить собственные стили. */
  border-color: transparent;
  color: transparent;
}
.form-box .form__left .form-box__price input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background: #000;
  cursor: pointer;
  margin-top: -4px;
  /* Вам нужно указать значение для поля в Chrome, но в Firefox и IE это происходит автоматически */
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  /* Добавляем классные эффекты для слайдера! */
}
.form-box .form__left .form-box__price input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background: #000;
  cursor: pointer;
}
.form-box .form__left .form-box__price input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background: #000;
  cursor: pointer;
}
.form-box .form__left .form-box__price input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #000;
  border-radius: 0px;
  border: 1px solid #010101;
}
.form-box .form__left .form-box__price input[type=range]:focus::-webkit-slider-runnable-track {
  background: #000;
}
.form-box .form__left .form-box__price input[type=range]::-moz-range-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #000;
  border-radius: 0px;
  border: 1px solid #010101;
}
.form-box .form__left .form-box__price input[type=range]::-ms-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 0px 0;
  color: transparent;
}
.form-box .form__left .form-box__price input[type=range]::-ms-fill-lower {
  background: #000;
  border: 1px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.form-box .form__left .form-box__price input[type=range]:focus::-ms-fill-lower {
  background: #000;
}
.form-box .form__left .form-box__price input[type=range]::-ms-fill-upper {
  background: #000;
  border: 1px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.form-box .form__left .form-box__price input[type=range]:focus::-ms-fill-upper {
  background: #000;
}
.form-box .form__left .form-box__color {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
  border: none;
}
.form-box .form__left .white {
  display: none;
}
.form-box .form__left .white + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
}
.form-box .form__left .white + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 0;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: none;
}
.form-box .form__left .white:checked + label::before {
  border-color: #000;
  background-color: none;
  background-image: url("img/checkbox.svg");
}
.form-box .form__left .white:not(:disabled):not(:checked) + label:hover::before {
  border-color: none;
}
.form-box .form__left .white:not(:disabled):active + label::before {
  background-color: none;
  border-color: none;
}
.form-box .form__left .white:focus + label::before {
  box-shadow: 0 0 0 0.2rem none;
}
.form-box .form__left .white:focus:not(:checked) + label::before {
  border-color: none;
}
.form-box .form__left .white:disabled + label::before {
  background-color: none;
}
.form-box .form__left .black {
  display: none;
}
.form-box .form__left .black + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.form-box .form__left .black + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #000;
  background-color: #000;
  border-radius: 0;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: none;
}
.form-box .form__left .black:checked + label::before {
  border-color: #ffffff;
  background-color: #000000;
  background-image: url("img/checkbox1.png");
}
.form-box .form__left .black:not(:disabled):not(:checked) + label:hover::before {
  border-color: none;
}
.form-box .form__left .black:not(:disabled):active + label::before {
  background-color: none;
  border-color: none;
}
.form-box .form__left .black:focus + label::before {
  box-shadow: 0 0 0 0.2rem none;
}
.form-box .form__left .black:focus:not(:checked) + label::before {
  border-color: none;
}
.form-box .form__left .black:disabled + label::before {
  background-color: none;
}
.form-box .form__left .grey {
  display: none;
}
.form-box .form__left .grey + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.form-box .form__left .grey + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgb(115, 115, 115);
  background-color: rgb(115, 115, 115);
  border-radius: 0;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: none;
}
.form-box .form__left .grey:checked + label::before {
  border-color: #000;
  background-color: none;
  background-image: url("img/checkbox.svg");
}
.form-box .form__left .grey:not(:disabled):not(:checked) + label:hover::before {
  border-color: none;
}
.form-box .form__left .grey:not(:disabled):active + label::before {
  background-color: none;
  border-color: none;
}
.form-box .form__left .grey:focus + label::before {
  box-shadow: 0 0 0 0.2rem none;
}
.form-box .form__left .grey:focus:not(:checked) + label::before {
  border-color: none;
}
.form-box .form__left .grey:disabled + label::before {
  background-color: none;
}
.form-box .form__left .red {
  display: none;
}
.form-box .form__left .red + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.form-box .form__left .red + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgb(255, 0, 0);
  background-color: rgb(255, 0, 0);
  border-radius: 0;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: none;
}
.form-box .form__left .red:checked + label::before {
  border-color: #000;
  background-color: none;
  background-image: url("img/checkbox.svg");
}
.form-box .form__left .red:not(:disabled):not(:checked) + label:hover::before {
  border-color: none;
}
.form-box .form__left .red:not(:disabled):active + label::before {
  background-color: none;
  border-color: none;
}
.form-box .form__left .red:focus + label::before {
  box-shadow: 0 0 0 0.2rem none;
}
.form-box .form__left .red:focus:not(:checked) + label::before {
  border-color: none;
}
.form-box .form__left .red:disabled + label::before {
  background-color: none;
}
.form-box .form__left .orange {
  display: none;
}
.form-box .form__left .orange + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.form-box .form__left .orange + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgb(255, 122, 65);
  background-color: rgb(255, 122, 65);
  border-radius: 0;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: none;
}
.form-box .form__left .orange:checked + label::before {
  border-color: #000;
  background-color: none;
  background-image: url("img/checkbox.svg");
}
.form-box .form__left .orange:not(:disabled):not(:checked) + label:hover::before {
  border-color: none;
}
.form-box .form__left .orange:not(:disabled):active + label::before {
  background-color: none;
  border-color: none;
}
.form-box .form__left .orange:focus + label::before {
  box-shadow: 0 0 0 0.2rem none;
}
.form-box .form__left .orange:focus:not(:checked) + label::before {
  border-color: none;
}
.form-box .form__left .orange:disabled + label::before {
  background-color: none;
}
.form-box .form__left .yellow {
  display: none;
}
.form-box .form__left .yellow + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.form-box .form__left .yellow + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgb(242, 203, 1);
  background-color: rgb(242, 203, 1);
  border-radius: 0;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: none;
}
.form-box .form__left .yellow:checked + label::before {
  border-color: #000;
  background-color: none;
  background-image: url("img/checkbox.svg");
}
.form-box .form__left .yellow:not(:disabled):not(:checked) + label:hover::before {
  border-color: none;
}
.form-box .form__left .yellow:not(:disabled):active + label::before {
  background-color: none;
  border-color: none;
}
.form-box .form__left .yellow:focus + label::before {
  box-shadow: 0 0 0 0.2rem none;
}
.form-box .form__left .yellow:focus:not(:checked) + label::before {
  border-color: none;
}
.form-box .form__left .yellow:disabled + label::before {
  background-color: none;
}
.form-box .form__left .green {
  display: none;
}
.form-box .form__left .green + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.form-box .form__left .green + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgb(0, 191, 42);
  background-color: rgb(0, 191, 42);
  border-radius: 0;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: none;
}
.form-box .form__left .green:checked + label::before {
  border-color: #000;
  background-color: none;
  background-image: url("img/checkbox.svg");
}
.form-box .form__left .green:not(:disabled):not(:checked) + label:hover::before {
  border-color: none;
}
.form-box .form__left .green:not(:disabled):active + label::before {
  background-color: none;
  border-color: none;
}
.form-box .form__left .green:focus + label::before {
  box-shadow: 0 0 0 0.2rem none;
}
.form-box .form__left .green:focus:not(:checked) + label::before {
  border-color: none;
}
.form-box .form__left .green:disabled + label::before {
  background-color: none;
}
.form-box .form__left .blue {
  display: none;
}
.form-box .form__left .blue + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.form-box .form__left .blue + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgb(28, 204, 151);
  background-color: rgb(28, 204, 151);
  border-radius: 0;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: none;
}
.form-box .form__left .blue:checked + label::before {
  border-color: #000;
  background-color: none;
  background-image: url("img/checkbox.svg");
}
.form-box .form__left .blue:not(:disabled):not(:checked) + label:hover::before {
  border-color: none;
}
.form-box .form__left .blue:not(:disabled):active + label::before {
  background-color: none;
  border-color: none;
}
.form-box .form__left .blue:focus + label::before {
  box-shadow: 0 0 0 0.2rem none;
}
.form-box .form__left .blue:focus:not(:checked) + label::before {
  border-color: none;
}
.form-box .form__left .blue:disabled + label::before {
  background-color: none;
}
.form-box .form__left .light-blue {
  display: none;
}
.form-box .form__left .light-blue + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.form-box .form__left .light-blue + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgb(0, 159, 227);
  background-color: rgb(0, 159, 227);
  border-radius: 0;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: none;
}
.form-box .form__left .light-blue:checked + label::before {
  border-color: #000;
  background-color: none;
  background-image: url("img/checkbox.svg");
}
.form-box .form__left .light-blue:not(:disabled):not(:checked) + label:hover::before {
  border-color: none;
}
.form-box .form__left .light-blue:not(:disabled):active + label::before {
  background-color: none;
  border-color: none;
}
.form-box .form__left .light-blue:focus + label::before {
  box-shadow: 0 0 0 0.2rem none;
}
.form-box .form__left .light-blue:focus:not(:checked) + label::before {
  border-color: none;
}
.form-box .form__left .light-blue:disabled + label::before {
  background-color: none;
}
.form-box .form__left .violet {
  display: none;
}
.form-box .form__left .violet + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.form-box .form__left .violet + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgb(0, 10, 248);
  background-color: rgb(0, 10, 248);
  border-radius: 0;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: none;
}
.form-box .form__left .violet:checked + label::before {
  border-color: #000;
  background-color: none;
  background-image: url("img/checkbox.svg");
}
.form-box .form__left .violet:not(:disabled):not(:checked) + label:hover::before {
  border-color: none;
}
.form-box .form__left .violet:not(:disabled):active + label::before {
  background-color: none;
  border-color: none;
}
.form-box .form__left .violet:focus + label::before {
  box-shadow: 0 0 0 0.2rem none;
}
.form-box .form__left .violet:focus:not(:checked) + label::before {
  border-color: none;
}
.form-box .form__left .violet:disabled + label::before {
  background-color: none;
}
.form-box .form__left .purple {
  display: none;
}
.form-box .form__left .purple + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.form-box .form__left .purple + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgb(103, 16, 214);
  background-color: rgb(103, 16, 214);
  border-radius: 0;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: none;
}
.form-box .form__left .purple:checked + label::before {
  border-color: #000;
  background-color: none;
  background-image: url("img/checkbox.svg");
}
.form-box .form__left .purple:not(:disabled):not(:checked) + label:hover::before {
  border-color: none;
}
.form-box .form__left .purple:not(:disabled):active + label::before {
  background-color: none;
  border-color: none;
}
.form-box .form__left .purple:focus + label::before {
  box-shadow: 0 0 0 0.2rem none;
}
.form-box .form__left .purple:focus:not(:checked) + label::before {
  border-color: none;
}
.form-box .form__left .purple:disabled + label::before {
  background-color: none;
}
.form-box .form__left .py {
  display: none;
}
.form-box .form__left .py + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.form-box .form__left .py + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgb(157, 13, 181);
  background-color: rgb(157, 13, 181);
  border-radius: 0;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: none;
}
.form-box .form__left .py:checked + label::before {
  border-color: #000;
  background-color: none;
  background-image: url("img/checkbox.svg");
}
.form-box .form__left .py:not(:disabled):not(:checked) + label:hover::before {
  border-color: none;
}
.form-box .form__left .py:not(:disabled):active + label::before {
  background-color: none;
  border-color: none;
}
.form-box .form__left .py:focus + label::before {
  box-shadow: 0 0 0 0.2rem none;
}
.form-box .form__left .py:focus:not(:checked) + label::before {
  border-color: none;
}
.form-box .form__left .py:disabled + label::before {
  background-color: none;
}
.form-box .form__left .light-purple {
  display: none;
}
.form-box .form__left .light-purple + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.form-box .form__left .light-purple + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgb(216, 154, 255);
  background-color: rgb(216, 154, 255);
  border-radius: 0;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: none;
}
.form-box .form__left .light-purple:checked + label::before {
  border-color: #000;
  background-color: none;
  background-image: url("img/checkbox.svg");
}
.form-box .form__left .light-purple:not(:disabled):not(:checked) + label:hover::before {
  border-color: none;
}
.form-box .form__left .light-purple:not(:disabled):active + label::before {
  background-color: none;
  border-color: none;
}
.form-box .form__left .light-purple:focus + label::before {
  box-shadow: 0 0 0 0.2rem none;
}
.form-box .form__left .light-purple:focus:not(:checked) + label::before {
  border-color: none;
}
.form-box .form__left .light-purple:disabled + label::before {
  background-color: none;
}
.form-box .form__left .pink {
  display: none;
}
.form-box .form__left .pink + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.form-box .form__left .pink + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgb(255, 101, 166);
  background-color: rgb(255, 101, 166);
  border-radius: 0;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: none;
}
.form-box .form__left .pink:checked + label::before {
  border-color: #000;
  background-color: none;
  background-image: url("img/checkbox.svg");
}
.form-box .form__left .pink:not(:disabled):not(:checked) + label:hover::before {
  border-color: none;
}
.form-box .form__left .pink:not(:disabled):active + label::before {
  background-color: none;
  border-color: none;
}
.form-box .form__left .pink:focus + label::before {
  box-shadow: 0 0 0 0.2rem none;
}
.form-box .form__left .pink:focus:not(:checked) + label::before {
  border-color: none;
}
.form-box .form__left .pink:disabled + label::before {
  background-color: none;
}
.form-box .form__right {
  display: flex;
  flex-direction: column;
  gap: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
}
.form-box .form__right .form-box__room {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
  font-weight: 400;
}
.form-box .form__right .room {
  display: none;
  font-weight: 400;
}
.form-box .form__right .room + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.form-box .form__right .room + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgb(136, 136, 136);
  background-color: none;
  border-radius: 0;
  margin-right: 14px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: none;
}
.form-box .form__right .room:checked + label::before {
  border-color: #000;
  background-color: none;
  background-image: url("img/checkbox.svg");
}
.form-box .form__right .room:not(:disabled):not(:checked) + label:hover::before {
  border-color: none;
}
.form-box .form__right .room:not(:disabled):active + label::before {
  background-color: none;
  border-color: none;
}
.form-box .form__right .room:focus + label::before {
  box-shadow: 0 0 0 0.2rem none;
}
.form-box .form__right .room:focus:not(:checked) + label::before {
  border-color: none;
}
.form-box .form__right .room:disabled + label::before {
  background-color: none;
}
.form-box__button {
  /* Frame 103 */
  margin-top: 62px;
  position: relative;
  width: 190px;
  height: 40px;
  cursor: pointer;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  font: inherit;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  background-color: #ffffff;
}

.product-content-catalog {
  row-gap: 48px;
}

.color {
  width: 15px;
  height: 15px;
}

.top__cart {
  height: 400px;
  background-image: url(img/header_cart.png);
  background-position: center;
  background-position: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.cart {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 64px;
}
.cart__content {
  grid-column: span 8;
}
.cart__name-box {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}
.cart__item {
  border-top: 0.5px solid rgb(202, 205, 216);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart__item-first {
  padding-top: 25px;
}
.cart__left {
  display: flex;
  gap: 32px;
}
.cart__info {
  display: grid;
  width: 267px;
  gap: 15px;
}
.cart .product__h3-cart {
  padding-top: 0px;
  margin-bottom: -7px;
}
.cart .product__text {
  margin-bottom: 0px;
}
.cart .product__price-cart {
  color: rgb(5, 5, 5);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}
.cart__link-box {
  display: flex;
  gap: 30px;
  color: rgb(5, 5, 5);
}
.cart__link-box .cart__a {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
  text-decoration-line: underline;
}
.cart__left-input {
  border-radius: 6px;
  border: none;
  padding-right: 14px;
  border-radius: 6px;
  background: rgb(247, 246, 246);
  width: 57px;
  height: 51px;
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
}
.cart__button-box {
  display: flex;
  gap: 7px;
  margin-top: 18px;
}
.cart__button {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  background-color: white;
  width: 200px;
  height: 37px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
}
.cart__form {
  border-radius: 20px;
  background: rgb(247, 246, 246);
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 42px;
  height: 556px;
}
.cart__form-title {
  margin-bottom: 35px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}
.cart__form-input {
  border: none;
  border-bottom: 1px solid rgb(202, 205, 216);
  background: none;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
}
.cart__form-input::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
}
.cart__form-input::placeholder {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
}
.cart__form-input-box {
  margin-bottom: 65px;
  display: grid;
  width: 288px;
  gap: 44px;
}
.cart__result {
  display: flex;
  gap: 8px;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 200;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}
.cart__result .result__rub {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}
.cart__button-form {
  background: none;
  width: 290px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .logo__footer {
    display: none;
  }
  .for__item {
    height: 268px;
  }
  .product-content {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 38px;
  }
  .form-box {
    right: -235.5px;
  }
  .cart {
    grid-template-columns: repeat(12, 1fr);
  }
  .cart__content {
    grid-column: span 12;
  }
  .cart__form {
    grid-column: span 6;
  }
  .cart__button-box {
    margin-top: 0px;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 26px;
    padding-right: 26px;
  }
  .title {
    max-width: 786px;
  }
  .product {
    max-width: 343px;
  }
  .product-content {
    justify-content: center;
  }
  .form-box {
    right: -240px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    height: 57px;
    margin-top: 32px;
    border: none;
  }
  .logo {
    font-size: 18px;
    line-height: 22px;
  }
  .header__input {
    display: none;
  }
  .menu {
    display: none;
  }
  .title {
    margin-top: 29px;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .title__catalog {
    margin-top: 82px;
    justify-content: center;
  }
  .title__cart {
    margin-top: 82px;
    justify-content: center;
  }
  .top__text {
    font-size: 16px;
    text-align: center;
  }
  .link {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 14px;
  }
  .top__link {
    text-align: center;
  }
  .filter {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__title {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
  }
  .for__item {
    height: 375px;
    grid-column: span 4;
    font-size: 28px;
    line-height: 34px;
  }
  .for__item_big {
    height: 244px;
  }
  .product-content {
    row-gap: 32px;
  }
  .product-box__title {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
  }
  .product-box__title-cart-mob {
    margin-top: 48px;
  }
  .product__h3 {
    font-size: 18px;
    line-height: 22px;
  }
  .product__price {
    font-size: 18px;
    line-height: 22px;
  }
  .product__price-old {
    font-size: 18px;
    line-height: 22px;
  }
  .footer {
    padding-bottom: 33px;
    justify-content: center;
    gap: 71px;
  }
  .footer__item-box {
    flex-direction: row;
    justify-content: start;
    gap: 84px;
  }
  .form-box {
    right: -130px;
    width: 286.5px;
    height: 910px;
  }
  .form-box-pad {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
  .form__right {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
  .form-box__button {
    margin-top: 0px;
  }
  .cart {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 48px;
  }
  .cart__img {
    display: none;
  }
  .cart__content {
    grid-column: span 4;
  }
  .cart__info {
    width: 215px;
  }
  .cart__form {
    grid-column: span 4;
  }
  .product__h3 {
    font-size: 18px;
    line-height: 22px;
  }
  .product__text {
    font-size: 12px;
    line-height: 15px;
  }
  .cart__button {
    width: 250px;
  }
  .cart__button-box {
    justify-content: center;
  }
  .form__right {
    gap: 36px;
  }
}
@media (min-width: 410px) and (max-width: 767px) {
  .product-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
}
@media (min-width: 768px) {
  .menu__mobile {
    display: none;
  }
}
@media (max-width: 370px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 450px) {
  .filter__form-box-mob {
    flex-direction: column-reverse;
  }
  .select:after {
    right: 5%;
  }
  .select-mob:after {
    right: 25%;
  }
  .form-box {
    right: -59px;
  }
}
@media (max-width: 425px) {
  .product {
    min-width: 272px;
  }
  .cart__form-input-box {
    width: 220px;
  }
}
.footer__link:hover, .menu__link:hover {
  text-decoration-line: underline;
}

.menu__mob-cart {
  display: none;
}

button:hover {
  color: #FFF;
  background: #000;
}

.link:hover {
  text-decoration-line: none;
  text-decoration: none;
  color: rgb(136, 136, 136);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.cart__a:hover {
  text-decoration-line: none;
  text-decoration: none;
  color: rgb(136, 136, 136);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  letter-spacing: 0%;
  text-align: left;
}

svg:hover path {
  fill: #000;
}

.footer__icon:hover {
  transform: scale(1.1);
}

.header {
  position: relative;
}

.wind {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
  width: 573px;
  height: 430px;
  gap: 10;
  padding: 40px 48px 40px 48px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  background: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.wind__cart-item {
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.wind__cart-down {
  border-top: 0.5px solid rgb(202, 205, 216);
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.wind__button-box {
  justify-content: space-between;
  gap: 48;
}
.wind__cart-but {
  width: 207px;
}/*# sourceMappingURL=style.css.map */